$sidebar-width: 250px;
@import "compass";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.align_x {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}

.align_y {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.align_xy {
  position: relative;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}


body {
  padding: $navbar-height 0 0 0;
  @include transition(all 0.5s);
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-left: $sidebar-width;
  }
}

.navbar {
  display: block;
  text-align: center;

  .navbar-brand {

    img {
      position: relative;
      top: -8px;
      height: $navbar-height;
    }
  }
}

.navbar-toggle {
  border: none!important;
  padding-right: 0!important;
  margin-bottom: 0!important;
}

.navbar-offcanvas-toggle {
  float: left!important;
  margin-left: 15px!important;
  margin-right: 0!important;
  padding-right: 10px!important;
}

#sidebar {
  width: $sidebar-width;
  top: $navbar-height;
  border-right: 4px solid $brand-primary;
  background-color: $gray-dark;

  .nav > li > a {
    color: $navbar-default-link-color;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    border-left: solid 4px $brand-primary;
    color: $navbar-default-link-hover-color;
  }
}

.form {
  max-width: 500px;
  margin: auto;
}